workflow_output.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "d1b2c3a4-5678-90ab-cdef-1234567890ab",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "person",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "full_name",
              "condition": "ilike",
              "keyValue": "li jie"
            }
          ]
        }
      },
      "id": "e2c3d4b5-6789-01cd-ef01-2345678901cd",
      "name": "Fetch Person",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        250,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "uY4ILzHGf3nsKJXd"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "person",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "full_name",
              "fieldValue": "li jia"
            },
            {
              "fieldId": "nationality",
              "fieldValue": "china"
            }
          ]
        }
      },
      "id": "f3d4e5c6-7890-12de-f012-3456789012de",
      "name": "Update Person",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "uY4ILzHGf3nsKJXd"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "a4b5c6d7-8901-23ef-0123-4567890123ef",
      "name": "Display Results",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        750,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-a818ace3",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a818ace3-174f-4376-b4c3-d39393cad839",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        140
      ],
      "webhookId": "cfa45028-ccf9-4041-b4a8-30ffccdaad5a"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Person": {
      "main": [
        [
          {
            "node": "Update Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Person": {
      "main": [
        [
          {
            "node": "Display Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}