workflow_output.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "item_name",
              "condition": "ilike",
              "keyValue": "Unbranded Cotton Chicken"
            }
          ]
        }
      },
      "id": "fetch_product_id",
      "name": "Fetch Product ID",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "uY4ILzHGf3nsKJXd"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sale",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "product_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Product ID').first().json.id }}"
            },
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "2026-02-08"
            }
          ]
        }
      },
      "id": "fetch_sales_data",
      "name": "Fetch Sales Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "uY4ILzHGf3nsKJXd"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "display_results",
      "name": "Display Results",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-061cf8a3",
        "responseMode": "lastNode",
        "options": {},
        "authentication": "none"
      },
      "id": "061cf8a3-0bed-4271-a496-7c20b417df7a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        140
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Product ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product ID": {
      "main": [
        [
          {
            "node": "Fetch Sales Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sales Data": {
      "main": [
        [
          {
            "node": "Display Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Product ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}