workflow_output.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sale",
        "returnAll": true,
        "limit": 5,
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $now.minus({months: 1}).toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {
          "sort": {
            "sortRules": [
              {
                "field": "gross_amount",
                "direction": "DESC"
              }
            ]
          }
        }
      },
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "Fetch Top Products",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        470,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "uY4ILzHGf3nsKJXd"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "sale",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $json.product_id }}"
            },
            {
              "fieldId": "customer_id",
              "fieldValue": "={{ $json.customer_id }}"
            },
            {
              "fieldId": "unit_number",
              "fieldValue": "={{ $json.unit_number }}"
            },
            {
              "fieldId": "gross_amount",
              "fieldValue": "={{ $json.gross_amount }}"
            },
            {
              "fieldId": "nett_amount",
              "fieldValue": "={{ $json.nett_amount }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Create Sale Records",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        690,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "uY4ILzHGf3nsKJXd"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "Display Results",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        910,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-6369cb75",
        "responseMode": "lastNode",
        "options": {},
        "authentication": "none"
      },
      "id": "6369cb75-9ef2-4718-a008-aabc4e4586a2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        140
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Top Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Top Products": {
      "main": [
        [
          {
            "node": "Create Sale Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sale Records": {
      "main": [
        [
          {
            "node": "Display Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Top Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}